doctype html
html
  head
    title= '42login'
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #logout
     a(href='/logout') logout
    #ropo
     a(href='https://github.com/weg901127/42login.git') repo
    block content
